@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

body::before {
    content: '';
    background: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta2b1167957d775df/629003b1d31030576a34bbcb/map1920x1080.jpg?auto=webp&disable=upscale&height=549') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

@keyframes teste {
    0% {
        transform: scaleX(.4);
        transform-origin: 0 0
    }

    100% {
        transform: scaleX(1);
        transform-origin: 0 0
    }
}

.card {
    display: flex;
    width: var(--cardWidth);
    height: var(--cardHeight);
    background-color: var(--cardBg);
    position: relative;
    animation: teste .5s;
    box-shadow: 19px 19px 38px #424242,
        -19px -19px 38px #4c4c4c;

}

@keyframes slide-right-img {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 50%;
        opacity: 1;
    }
}

#agentPortrait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120%;
    width: 120%;
}

.name {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 150%);
    user-select: none;
}

.skills {
    display: flex;
    width: 50%;
}

.card-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 0;
    height: 0;
    border-bottom: var(--cardHeight) solid var(--cardBg);
    border-left: var(--effectWidth) solid transparent;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    filter: brightness(0);
}