@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

body::before {
    content: '';
    background: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta2b1167957d775df/629003b1d31030576a34bbcb/map1920x1080.jpg?auto=webp&disable=upscale&height=549') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    width: var(--cardWidth);
    height: var(--cardHeight);
    background-color: var(--cardBg);
    position: relative;
}

@keyframes slide-right-img {
    0% {width: 0; opacity: 0;}
    100% {width: 50%; opacity: 1;}
}

/* .agent-art {
    width: 50%;
    height: var(--cardHeight);
    position: relative;
    background-color: var(--sageBg);
    animation: slide-right-img 1s;
} */

#agentPortrait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120%;
    width: 120%;
    z-index: 2;
}

.name {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 150%);
    user-select: none;
}

.skills {
    display: flex;
    width: 50%;
}

@keyframes slide-right-dividor {
    0% {width: var(--effectWidth); opacity: 1;}
    100% {width: 0; opacity: 0;}
}

.card-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    animation: slide-right-dividor 1s reverse;
    width: 0;
    height: 0;
    border-bottom: var(--cardHeight) solid white;
    border-left: var(--effectWidth) solid transparent;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    filter: brightness(0);
}