:root {
    --cardBg: #ffffff;
    --cardWidth: 1000px;
    --cardHeight: 500px;
    --effectWidth: 100px;

    --skillname-size: 15px;
    --skillname-weight: 700;
    --desc-weight: 300;
    --desc-size: 11px;

    --list-border: #ffffff5d;
    --list-border-hover: #ffeba8;
    --list-bg-hover: #ffffff5d;
}