.agent-list {
    display: flex;
    width: 800px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.agent {
    border: 2px solid var(--list-border);
    cursor: pointer;
    width: 75px;
    height: 75px;
    transition: .1s ease-in-out;
}

.agent:hover {
    border: 2px solid var(--list-border-hover);
    background-color: var(--list-bg-hover);
    transform: scale(1.06);
}

.agent img {
    width: 100%;
    height: 100%;
}